<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Agregar producto</title>
    <style>
    body{
      margin: 0;
      padding: 0;
      /* background: url("https://www.wallpaperup.com/uploads/wallpapers/2018/03/23/1239149/1b1dca24781f4d058119fe6feea69b46-1000.jpg"); */
      font-family: sans-serif;
    }

    .backL{
      width: 504px;
      height: 424px;
      background: rgb(0, 0, 0);
      top: 40%;
      left: 50%;
      border-radius: 10%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
    }
    .LoginBox{
      width: 500px;
      height: 420px;
      background: #EABA5B;
      border-radius: 10%;
      color: #fff;
      top: 40%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      padding: 20px 30px;
    }
    .lig{
      margin: 0;
      padding: 0 0 20px;;
      text-align: center;
      color:rgb(227, 228, 252);
    }

    .LoginBox p{
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    .LoginBox input{
      width: 85%;
      margin-bottom: 20px;
      padding: 0 10px;
      border: none;
      /* border-bottom: 1px solid #fff; */
      /* //background: transparent; */
      outline: none;
      height: 40px;
      font-size: 16px;
      border-radius: 10px;
    }
    button{
      border: none;
      outline: none;
      height: 40px;
      background: #fb2525;
      color: #fff;
      font-size: 18px;
      width: 100%;
      border-radius: 20px;
      margin: 10px 0;
    }
    </style>
  </head>
  <body>
    <div class="backL"></div>
    <div class="LoginBox">
      <h1 class="lig">Register</h1>

      <form class="Aform" method="POST">
        <table>
          <tbody>
            <tr>
              <td>
                <p>Nombre</p>
                <input type="text" name="nombre" placeholder="Agregar nombre">
              </td>
              <td>              
                <p>Descripcion</p>
                <input type="text" name="descripcion" placeholder="Agregar descripcion">
              </td>
            </tr>
            <tr>
              <td>
                <p>Precio</p>
                <input type="number" id="Names" name="precio" placeholder="precio">
              </td>
              <td>             
                  <p>Tiempo preparacion</p>
                  <input type="number" id="time" max="50" min="0" name="time" placeholder="Agregar tiempo">
              </td>
            </tr>          
          </tbody>
        </table>        
        <button type="submit">
          SignIn
        </button>
      </form>
    </div>
  </body>
</html>