<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <div class="row">
        <br>
        <div class="col s12 m6">
            <h4 class="Rheader center-align">Agregar producto</h4>
            <div class="container">
                <div class="divider"></div>
                <div class="Rheader center-align">
                    <% include ./partials/msg %>
                </div>
        <form class="Aform" method="POST">
            <div class="input-field col s12 m6">
                <input type="text" name="nombre" id="nombre" required=""> 
                <label for="nombre ">Nombre</label>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" name="descripcion" id="descripcion" required="">
                <label for="descripcion">Descripción del producto</label>
            </div>
            <div class="input-field col s6 ">
                <input type="number" id="precio" name="precio" required="">
                <label for="precio">Precio</label>
            </div>
            <div class="input-field col s6">
                <input type="number" id="time" max="60" min="0" name="time" required="">
                <label for="time">Tiempo de preparación</label>
            </div>
            <div class="file-field input-field col s12">
              <div class="btn red darken-4">
                <span>File</span>
                <input type="file" name="foto">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>         
          <button class="btn col s12 red darked-3" style="margin-bottom: 10px;" type="submit">
            Registrar
          </button>
        </form>
            </div>
        </div>

        <div class="col s12 m6" >
            <h4 class="Rheader">Lista de productos</h4>
            <div class="divider"></div>
            <div class="overflowContent" style="overflow: auto;" >
                <ul class="collection">
                    <% items.forEach(function(prd) { %>
                        <li class="collection-item avatar" >
                            <img src="/images/chicken-leg.png" alt="" class="circle">
                            <p><%= prd.local.Mtitulo %></p>
                            <p><%= prd.local.Mdescripcion %><br>
                                <%= prd.local.Mprecio %>
                            </p>
                            <a class="secondary-content " href="/EditMenu/?id=<%= prd._id %>"><i class="material-icons">create</i></a>
                        </li>                  
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>   
<% include ./partials/Initialization %>
</body>
</html>