<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <div class="container z-depth-1 grey">
        <div class="row">
            <div class="col s12 m4">
                <div class="row">
                        <br>
                    <div class="col s10 offset-s1 white z-depth-3">
                        <h5 id="h_numTicket">Ticket 0001</h5>
                        <div class="divider"></div>
                        <div id="prodOrd" class="row">
                        </div>
                        <div class="divider"></div>
                        <h5 id="h_total">Total: $0</h5>
                        <label>Cajero: <%= user.local.UName %> <%= user.local.ULastName %></label>
                    </div>
                </div>
                    <div class="col s12">
                        
                        <button class="green col s6 btn">Guardar</button>
                        <button class="red col s6 btn" onclick="reiniciarCuenta()">Descartar</button>
                    </div>
            </div>
            <div class="col s12 m8 white rounded" >
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'Nombre': 'Pierna', 'Precio': 20})">
                        <div class="valign-wrapper">
                            <div class="col s4">
                                <img src="/images/chicken-leg.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                                <span class="black-text">
                                 Pierna de pollo 
                                $ 20</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'Nombre': 'Sandwich', 'Precio': 30})">
                        <div class="valign-wrapper">
                            <div class="col s4">
                                <img src="/images/sandwich.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                                <span class="black-text">
                                    sandwich de pollo 
                                     $ 30
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'Nombre': 'Pollo entero', 'Precio': 15})">
                        <div class="valign-wrapper">
                            <div class="col s4">
                                <img src="/images/chicken.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                                <span class="black-text">
                                    Pollo entero
                                     $ 15
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'Nombre': 'Hamburguesa', 'Precio': 55})">
                            <div class="valign-wrapper">
                                <div class="col s4">
                                    <img src="/images/fast-food.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                                </div>
                            <div class="col s8">
                                <span class="black-text">
                                        Hamburguesa de pollo 
                                         $ 55
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                        <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'Nombre': 'Bebida', 'Precio': 20})">
                                <div class="valign-wrapper">
                                    <div class="col s4">
                                        <img src="/images/beer-can.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                                    </div>
                                <div class="col s8">
                                    <span class="black-text">
                                            bebida
                                             $ 20
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</body>
<script src="/JS/Cocina.js"></script>
<style >
.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
.padLess{
    padding: 8px !important;
}
.redHover:hover{
    background-color: red;
}
</style>
</html>