<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<body>
        <% include ./partials/nav %>
        <div class="row">
            <h4 align="center">Grafica Terminados</h4>
        </div>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <% include ./partials/Initialization %>
    <script>
        let myChart = document.getElementById('myChart').getContext("2d");
        var LCuantos = "<%= listaCuantos %>".split(',');
        let barChart = new Chart(myChart,{
            type:'bar',
            data:{
                labels: ["Terminados","Pendientes"],
                datasets:[{
                    label:'Estado',
                    data:LCuantos,
                    backgroundColor:'orange'
                }]
            },
            options:{}
        });
    </script>
</body>
</html>