<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <% include ./partials/msg %>
    <div class="row">
        <br>
        <div class="col s12 m6">
            <h4 class="Rheader center-align">Agregar Empleado</h4>
            <div class="container">
                    <div class="divider"></div>
        <form class="Aform" action="/Usuarios" method="POST">
            <div class="input-field col s12 m6">
               <input type="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="input-field col s12 m6">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="Names" name="Names" required="">
                <label for="Names">Nombres</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="LastNames" name="LastNames" required="">
                <label for="LastNames">Apellidos</label>
            </div>
            <div class="input-field col s12 m6">
                <select name="Jobs">
                    <option value="0" disabled selected>Seleccione una opción</option>
                    <option value="1">Administrador</option>
                    <option value="2">Cajero</option>
                    <option value="3">Cocinero</option>
                </select>
                <label>Puesto</label>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="Phones" name="Phones" required="">
                <label for="Phones">Telefono</label>
            </div>         
          <button class="btn col s12 red darked-3" style="margin-bottom: 10px;" type="submit">
            Registrar
          </button>
        </form>
            </div>
        </div>

        <div class="col s12 m6" >
            <h4 class="Rheader">Lista de Empleados</h4>
            <div class="divider"></div>
            <div class="overflowContent" style="overflow: auto;" >
                <ul class="collection">
                    <% items.forEach(function(user) { %>
                        <li class="collection-item avatar" >
                            <img src="/images/user.png" alt="" class="circle">
                            <p><%= user.local.UName %></p>
                            <p><%= user.local.ULastName %><br>
                                <%= user.local.email %>
                            </p>
                            <a class="secondary-content " href="/EditUser/?id=<%= user._id %>"><i class="material-icons">create</i></a>
                        </li>                  
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>   
<% include ./partials/Initialization %>
</body>
</html>