<nav>
    <div class="nav-wrapper red darken-2 z-depth-2">
        <img class="logoimg" height="50" width="50" style="margin-top: 8px;" src="/images/roast-chicken.png" alt="">
        <a href="#!" class="brand-logo">Fausto´s Fried Chicken</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
                <li><a href="/usuarios"><i class="material-icons left">assignment_ind</i>Empleados</a></li>
                <li><a href="/menu/agregar"><i class="material-icons left">local_dining</i>Productos</a></li>
                <li><a href="#"><i class="material-icons left">insert_chart</i>Reportes</a></li>
                <li><a href="/logout">Salir<i class="material-icons left">exit_to_app</i></a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/usuarios"><i class="material-icons left">assignment_ind</i>Empleados</a></li>
    <li><a href="/menu/agregar"><i class="material-icons left">local_dining</i>Productos</a></li>
    <li><a href="#"><i class="material-icons left">insert_chart</i>Reportes</a></li>
    <li><a href="/logout">Salir<i class="material-icons left">exit_to_app</i></a></li>
</ul>